{% extends 'base.html' %}
{% load static %}

{% block title %}
    Confirm One-Time Password
{% endblock %}

{% block content %}

<div class="container p-5 mt-5">
    <h5 class="text-center">Sage Payment Intergration API</h5>
    <div class="row justify-content-center">
      <div class="col-md-6  border rounded p-5 mt-5">
        <form class="col-6" action="" method="post">
            {% csrf_token %}
            <form action="" method="post">
                <p style="white-space: wrap; width: 20rem">A One-Time Password (OTP) was sent to <span class="font-weight-bold font-italic">jane.doe@anonymous.co.za</span></p>
                <div>
                    <label for="otp">Enter OTP</label>
                    <input type="password" class="form-control input-sm chat-input" name="otp" id="otp" maxlength="6">
                </div>
                <br>
                <span class="group-btn">     
                    <button href="#" class="btn btn-primary btn-md">Verify</button>
                </span>
            </form>
        </form>
      </div>
    </div>
  </div>    

{% endblock %}