<!--Include popup.html-->
{% include  'partials/transactions/popup.html'%}

<div class="container pt-5">

   <div class="container">
       <div class="row mb-3">

          <form action="#" method="post">
              <div class="mb-3">
                  <div class="input-group">
                      <input type="text" class="form-control" id="search-input" placeholder="Search...">
                  </div>
              </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="filter-options">Filter By:</label>
              </div>
              <select class="custom-select" id="filter-options">
                <option value=""></option>
                <option value="account_number">Account Number</option>
                <option value="amount">Amount</option>
                <option value="bank_name">Bank Name</option>
                <option value="date">Date</option>
                <option value="sort_code">Sort Code</option>
                <option value="invoice_id">Invoice Number</option>
                <option value="account_name">Vendor Name</option>
                <option value="vendor_id">Vendor ID</option>
              </select>
            </div>

            <div class="mt-3">
                <button type="button" class="btn btn-primary" id="search-btn">Search</button>
            </div>
          </form>
        </div>
   </div>
    
  </div>

  <div class="container p-3">

      <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">Invoice Number</th>
        <th scope="col">Beneficiary ID</th>
        <th scope="col">Beneficiary Name</th>
        <th scope="col">Beneficiary Account</th>
        <th scope="col">Sort Code</th>
        <th scope="col">Transaction Type</th>
      </tr>

    </thead>
    <tbody id="table-body">
     <form action="#" method="post">

      {% csrf_token %}
      <div id="transaction-table">
        {% if transaction_info and vendor_info %}
          {% for transaction in transaction_info %}
          <tr>
            <td>
              <input type="checkbox" name="transaction" value="{{ transaction.idinvc }}">
            </td>
            <td>{{ transaction.datermit }}</td>
            <td>{{ transaction.amtpaym }}</td>
            <td>{{ transaction.codecurn }}</td>
            <td>{{ transaction.idinvc }}</td>
            <td>{{ transaction.idvend }}</td>
            {% for vendor in vendor_info %}
              {% if transaction.idvend == vendor.vendorid %}
                <td>{{ vendor.accname }}</td>
                <td>{{ vendor.accno }}</td>
                <td>{{ vendor.bsbno }}</td>
              {% endif %}
            {% endfor %}

            <td>
                <select class="custom-select" name="transaction_type">
                <option value="DDUC">DDUC</option>
                <option value="NFS">NFS</option>
                <option value="RTGS">RTGS</option>
                </select>
            </td>

          </tr>
          {% endfor %}

        {% else %}
        <tr>
          <td colspan="8">No transactions found</td>
        </tr>
        {% endif %}
      </div>

      {% if request.path == '/payment-api/dashboard/transactions/' %}
      <!-- Render the "Process Transaction" button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#post-transaction-model" id="process-btn" disabled>Process Selected Transaction(s)</button>
      {% endif %}

     </form>
    </tbody>
  </table>

  </div>

  
</div>